.task {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 black;
  padding: 16px;
}

.task button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.task button:first-child {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 999px;
  border: 0.2rem solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:first-child:hover {
  background: var(--gray-400);
}

.task button:first-child.done {
  border: 0.2rem solid var(--purple-dark);
  background-color: var(--purple-dark);
}

.task button:first-child.done:hover {
  border: 0.2rem solid var(--purple);
  background-color: var(--purple);
}

.task button:first-child svg {
  color: var(--gray-100);
  font-size: var(--font-size-medium);
}

.task button:last-child {
  color: var(--gray-300);
  font-size: 1.25rem;
  display: flex;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.task button:last-child:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}

.task p {
  font-size: 0.875rem;
  flex: 1;
}

.done {
  text-decoration: line-through;
  color: var(--gray-300);
}
