.taskadder {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  top: 10.45rem;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;
}

.taskadder input {
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  font-size: 1rem;
  height: 3.375rem;
  width: 46rem;
  padding: 1rem;
  transition: border-color 0.5s ease;
}

.taskadder input:focus {
  outline: none;
  border-color: var(--purple-dark);
}

.taskadder button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  cursor: pointer;
  padding: 1rem;
}

.taskadder button:focus {
  background-color: var(--blue);
  border-color: var(--purple-dark);
  outline: none;
  transition: border-color 0.5s ease;
}

.taskadder button:hover {
  background-color: var(--blue);
  transition: background-color 1s ease;
}

.taskadder button strong {
  font-size: var(--font-size-medium);
}

.taskadder button svg {
  font-size: var(--font-size-large);
}
